<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h3>Kone Spydee</h3>
      <h4>example@gmail.com</h4>
    </div>
    <img src="../../../../assets/images/Sir_Tim_Berners-Lee_(cropped).jpg" alt="kone spydee">
  </div>
  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="router-link-active" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="router-link-active" routerLink="/posts">Posts</a>
  <a mat-list-item routerLinkActive="router-link-active" routerLink="/mail">Mail</a>
  <a mat-list-item routerLinkActive="router-link-active" routerLink="/form">Form Manage</a>
  <a mat-list-item routerLinkActive="router-link-active" routerLink="/dogs">Dogs</a>
  <a mat-list-item routerLinkActive="router-link-active" routerLink="/giver">Giver</a>

  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>

  <a mat-list-item routerLinkActive="router-link-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    constacts
  </a>

  <a mat-list-item routerLinkActive="router-link-active" routerLink="/contacts">
    <mat-icon>phone</mat-icon>
    leads
  </a>


</mat-nav-list>

