<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h3>Kone Spydee</h3>
      <h4>example@gmail.com</h4>
    </div>
    <img src="../../../../assets/images/Sir_Tim_Berners-Lee_(cropped).jpg" alt="kone spydee">
  </div>
  <mat-divider></mat-divider>

  <h2 matSubheader>ຈັດການ</h2>

  <a mat-list-item routerLinkActive="router-link-active" routerLink="/">ໜ້າຈັດການ</a>
  <a mat-list-item routerLinkActive="router-link-active" routerLink="/posts">ກິດຈະກຳ</a>
  <a mat-list-item routerLinkActive="router-link-active" routerLink="/mail">ອີເມວ</a>
  <a mat-list-item routerLinkActive="router-link-active" routerLink="/form">ຈັດການຟອມ</a>
  <a mat-list-item routerLinkActive="router-link-active" routerLink="/dogs">ໝາ</a>
  <a mat-list-item routerLinkActive="router-link-active" routerLink="/giver">ຜູ້ບໍລິຈາກໝາ</a>
  <a mat-list-item routerLinkActive="router-link-active" routerLink="/donatecash">donatecash</a>

  <mat-divider></mat-divider>

  <h2 matSubheader>ເຄື່ອງມື</h2>

  <a mat-list-item routerLinkActive="router-link-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    ຕິດຕໍ່
  </a>

  <a mat-list-item routerLinkActive="router-link-active" routerLink="/contacts">
    <mat-icon>phone</mat-icon>
    ໂທ
  </a>
  <button class="btn btn-secondary" (click)="logout()">Log out</button>

</mat-nav-list>

