<div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px">
  <div fxFlex="60">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" #mytable>
         <!-- Checkbox Column -->
  <!-- <ng-container matColumnDef="select"> -->
    <!-- <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td> -->
  <!-- </ng-container> -->

        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef>ລຳດັບ </th>
          <td mat-cell *matCellDef="let element"> {{element.event_id}} </td>
        </ng-container>


        <ng-container matColumnDef="event">
          <th mat-header-cell *matHeaderCellDef>ເລື່ອງ </th>
          <td mat-cell *matCellDef="let element"> {{element.event_topic}} </td>
        </ng-container>


        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>ວັນເດືອນປີເກີດ </th>
          <td mat-cell *matCellDef="let element"> {{element.event_date | date:'dd/MM/yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>ເວລາ </th>
          <td mat-cell *matCellDef="let element" > {{ element.event_start }} || {{ element.event_end }}  </td>
        </ng-container>

        <ng-container matColumnDef="places">
          <th mat-header-cell *matHeaderCellDef>ສະຖານທີ່ </th>
          <td mat-cell *matCellDef="let element" > {{ element.event_place }}  </td>
        </ng-container>

        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef>ທິດທາງ </th>
          <td mat-cell *matCellDef="let element" > <a href="{{ element.event_direction }}"target="_blank" class="btn btn-dark" >ທິດທາງ</a>  </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>ສະຖານະ </th>
          <td mat-cell *matCellDef="let element" >  <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [checked]="element.event_status" (change)="switch($event,element.event_id)">
            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
          </div></td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>ຈັດການ</th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <a  class="link-dark text-decoration-none" style="cursor: pointer;" (click)="edit(element)">ແກ້ໄຂ</a> |
            <a  class="link-danger text-decoration-none" style="cursor: pointer;" (click)="delete_event(element.event_id)">ລົບ</a>
             </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [length]="data.length"
                    [pageSize]="10"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
  <div fxFlex="40">
    <form class="example-form" [formGroup]="addEvent" (ngSubmit)="addevent()">
      <div class="row">
        <div class="mb-3 col-sm-5">
          <label for="user_email" class="col-form-label">ຂື່</label>
          <input type="text" class="form-control" formControlName="event_topic" [ngClass]="{ 'is-invalid':  e.event_topic.invalid && e.event_topic.touched }">
          <small class="p-error text-danger" *ngIf="e.event_topic.hasError('required') &&e.event_topic.invalid && e.event_topic.touched">ຕ້ອງໃສ່ຊື່ກ່ອນ</small>
        </div>

        <div class="mb-3 col-sm-5">
          <label for="user_email" class="col-form-label">ວັນເດືອນປີເກີດ</label>
          <input type="date" class="form-control" formControlName="event_date" [ngClass]="{ 'is-invalid':  e.event_date.invalid && e.event_date.touched }">
          <small class="p-error text-danger" *ngIf="e.event_date.hasError('required') &&e.event_date.invalid && e.event_date.touched">ຕ້ອງໃສ່່ວັນເດືອນປີເກີດກ່ອນ</small>
        </div>

        <!-- <div class="mb-3 col-sm-5 form-check">
          <label for="user_email" class="col-form-label">ເພດ</label>
          <div class="row">
            <div class="form-check col-sm-3">
              <input type="radio" id="girl" class="form-check-input" formControlName="event_status" value="0" [ngClass]="{ 'is-invalid':  e.event_status.invalid && e.event_status.touched }">
            <label class="form-check-label" for="girl">
              ເພດແມ່
            </label>
            </div>
            <div class="form-check col-sm-3">
              <input type="radio" id="boy" class="form-check-input" formControlName="event_status" value="1" [ngClass]="{ 'is-invalid':  e.event_status.invalid && e.event_status.touched }">
            <label class="form-check-label" for="boy">
              ເພດຜູ້
            </label>
            </div>
          </div>
        </div> -->
        <div class="mb-3 col-sm-5">
          <label for="user_email" class="col-form-label">ກິດຈະກຳເລີ່ມ</label>
          <input type="text" class="form-control" formControlName="event_start" [ngClass]="{ 'is-invalid':  e.event_start.invalid && e.event_start.touched }" placeholder="ex: From 7 AM">
          <small class="p-error text-danger" *ngIf="e.event_start.hasError('required') &&e.event_start.invalid && e.event_start.touched">ຕ້ອງໃສ່ອີເວັ່ນກ່ອນ</small>
        </div>
        <div class="mb-3 col-sm-5">
          <label for="user_email" class="col-form-label">ກິດຈະກຳປິດ</label>
          <input type="text" class="form-control" formControlName="event_end" [ngClass]="{ 'is-invalid':  e.event_end.invalid && e.event_end.touched }" placeholder="ex: To 5 PM">
          <small class="p-error text-danger" *ngIf="e.event_end.hasError('required') &&e.event_end.invalid && e.event_end.touched">ຕ້ອງໃສ່ມື້ປິດອີເວັ່ນກ່ອນ</small>
        </div>
        <div class="mb-3 col-sm-5">
          <label for="user_email" class="col-form-label">ສະຖາທີ່</label>
          <input type="text" class="form-control" formControlName="event_place" [ngClass]="{ 'is-invalid':  e.event_place.invalid && e.event_place.touched }" placeholder="Place Name">
          <small class="p-error text-danger" *ngIf="e.event_place.hasError('required') &&e.event_place.invalid && e.event_place.touched">ຕ້ອງໃສ່ສະຖາທີ່ກ່ອນ</small>
        </div>
        <div class="mb-3 col-sm-5">
          <label for="user_email" class="col-form-label">ທິດທາງ</label>
          <input type="text" class="form-control" formControlName="event_direction" [ngClass]="{ 'is-invalid':  e.event_direction.invalid && e.event_direction.touched }" placeholder="Google Map Link">
          <small class="p-error text-danger" *ngIf="e.event_direction.hasError('required') &&e.event_direction.invalid && e.event_direction.touched">ຕ້ອງໃສ່ທິດທາງກ່ອນ</small>
        </div>
        <div class="w-25">
          <button type="submit" class="btn btn-primary mt-2 form-control" [disabled]="addEvent.invalid" *ngIf="!btn">ເພີ່ມ</button>

        <button type="button" class="btn btn-primary mt-2 form-control" [disabled]="addEvent.invalid" *ngIf="btn" (click)="update()">ແກ້ໄຂ</button>

        <button type="button" class="btn btn-primary mt-2 form-control" *ngIf="btn" (click)="cancel()">ຍົກເລິກ</button>
        </div>
      </div>
    </form>

    <!-- <input type="file" (change)="upload($event)" multiple> -->
  </div>
</div>
