<div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px">
    <div fxFlex="60">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" #mytable>
           <!-- Checkbox Column -->
    <!-- <ng-container matColumnDef="select"> -->
      <!-- <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td> -->
    <!-- </ng-container> -->

          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef>ລຳດັບ </th>
            <td mat-cell *matCellDef="let element, let i = index"> {{i+1}} </td>
          </ng-container>


          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>ຊື່</th>
            <td mat-cell *matCellDef="let element"> {{element.dog_name}} </td>
          </ng-container>


          <ng-container matColumnDef="dob">
            <th mat-header-cell *matHeaderCellDef>ວັນດືອນປີເກີດ</th>
            <td mat-cell *matCellDef="let element"> {{element.dog_dob | date:'dd/MM/yyyy'}} | {{ ageFromDateOfBirthday(element.dog_dob) }} ປີ</td>
          </ng-container>

          <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef>ເພດ</th>
            <td mat-cell *matCellDef="let element" > {{ dog_gender(element.dog_gender) }}  </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>ສະຖານະ </th>
            <td mat-cell *matCellDef="let element" > {{ element.dog_status }}  </td>
          </ng-container>

          <ng-container matColumnDef="giver">
            <th mat-header-cell *matHeaderCellDef>ຜູ້ບໍລິຈາກ </th>
            <td mat-cell *matCellDef="let element" > {{ element.giver_email }}  </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>ຈັດການ </th>
            <td mat-cell *matCellDef="let element" class="action-link">
              <a (click)="Edit(element)" class="link-dark text-decoration-none" style="cursor: pointer;">ແກ້ໄຂ</a> |
              <a (click)="Delete(element)" class="link-danger text-decoration-none" style="cursor: pointer;">ລົບ</a>
               </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [length]="data.length"
                      [pageSize]="10"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
      <div class="pt-3"><a class="btn btn-primary"routerLinkActive="router-link-active" routerLink="/dog_recovery" role="button">ກູ້ຄືນ</a></div>

    </div>

    <div fxFlex="40">
      <form class="example-form" [formGroup]="addDogs" (ngSubmit)="adddogs()">
        <div class="row">
          <div class="mb-3 col-sm-5">
            <label for="user_email" class="col-form-label">ຊື່</label>
            <input type="text" class="form-control" formControlName="dog_name" [ngClass]="{ 'is-invalid':  d.dog_name.invalid && d.dog_name.touched }">
            <small class="p-error text-danger" *ngIf="d.dog_name.hasError('required') &&d.dog_name.invalid && d.dog_name.touched">ຕ້ອງໃສ່ຊື່ກ່ອນ</small>
          </div>

          <div class="mb-3 col-sm-5">
            <label for="user_email" class="col-form-label">ວັນເດືອນປີເກີດ</label>
            <input type="date" class="form-control" formControlName="dog_dob" [ngClass]="{ 'is-invalid':  d.dog_dob.invalid && d.dog_dob.touched }">
            <small class="p-error text-danger" *ngIf="d.dog_dob.hasError('required') &&d.dog_dob.invalid && d.dog_dob.touched">ຕ້ອງໃສ່ວັນເດືອນປີເກີດກ່ອນ</small>
          </div>

          <div class="mb-3 col-sm-5 form-check">
            <label for="user_email" class="col-form-label">ເພດ</label>
            <div class="row">
              <div class="form-check col-sm-3">
                <input type="radio" id="girl" class="form-check-input" formControlName="dog_gender" value="0" [ngClass]="{ 'is-invalid':  d.dog_gender.invalid && d.dog_gender.touched }">
              <label class="form-check-label" for="girl">
                ເພດຜູ້
              </label>
              </div>
              <div class="form-check col-sm-3">
                <input type="radio" id="boy" class="form-check-input" formControlName="dog_gender" value="1" [ngClass]="{ 'is-invalid':  d.dog_gender.invalid && d.dog_gender.touched }">
              <label class="form-check-label" for="boy">
                ເພດແມ່
              </label>
              </div>
            </div>
          </div>



          <div class="mb-3 col-sm-5">
            <label for="user_email" class="col-form-label">ຮູບໝາ</label>
            <input type="file" accept=".jpg,.jpeg,.png" class="form-control" multiple  formControlName="images" [(ngModel)]="myFiles" [ngClass]="{ 'is-invalid':  d.images.invalid && d.images.touched }" (change)="uploadno1($event)">
            <!-- <input type="file" class="form-control" multiple  [ngClass]="{ 'is-invalid':  d.images.invalid && d.images.touched }" (change)="save($event)"> -->
            <small class="p-error text-danger" *ngIf="d.images.hasError('required') &&d.images.invalid && d.images.touched">ຕ້ອງໃສ່ຮູບກ່ອນ
            </small>
          </div>

          <div class="mb-3 col-sm-5">
            <label for="user_email" class="col-form-label">ສາຍພັນໝາ</label>
            <input type="text" class="form-control" formControlName="dog_species" [ngClass]="{ 'is-invalid':  d.dog_species.invalid && d.dog_species.touched }">
            <small class="p-error text-danger" *ngIf="d.dog_species.hasError('required') &&d.dog_species.invalid && d.dog_species.touched">ຕ້ອງໃສ່ພັນໝາກ່ອນ
            </small>
          </div>
          <div class="mb-3 col-sm-5">
            <label for="user_email" class="col-form-label">ປະຫວັດ</label>
            <input type="text" class="form-control" formControlName="dog_bg" [ngClass]="{ 'is-invalid':  d.dog_bg.invalid && d.dog_bg.touched }">
            <small class="p-error text-danger" *ngIf="d.dog_bg.hasError('required') &&d.dog_bg.invalid && d.dog_bg.touched">ຕ້ອງປະຫວັດ
            </small>
          </div>
          <div class="mb-3 col-sm-5">
            <label for="user_email" class="col-form-label">ອີເມວຜູ້ບໍລິຈາກໝາ</label>
            <input type="text" class="form-control" formControlName="giver_email" [ngClass]="{ 'is-invalid':  d.giver_email.invalid && d.giver_email.touched }">
            <small class="p-error text-danger" *ngIf="d.giver_email.hasError('required') &&d.giver_email.invalid && d.giver_email.touched">ຕ້ອງໃສ່ອີເມວກ່ອນ</small>
          </div>
          <button type="submit" class="btn btn-primary form-control" [disabled]="addDogs.invalid">ເພີ່ມ</button>
        </div>
      </form>

      <!-- <input type="file" (change)="upload($event)" multiple> -->
    </div>
</div>


